if books
    table
        thead
            tr
                th  Title
                th  Author
                th  Genre
                th  Year
        tbody
            each book in books
                -
                    let bookTitle='';
                    bookTitle = (book.title.length>45)? `${book.title.substring(0,45)}...` : book.title
                tr
                    td  
                        a(href=`/books/${book.id}`) #{bookTitle}
                    td  #{book.author}
                    td  #{book.genre}
                    td  #{book.year}   
    nav(class="pagination-nav" , aria-label="Page navigation")
        ul(class="pagination justify-content-center")